h3.product-name{
    font-size:16px;
    text-align:center;
    padding:5px 10px 0 5px;
    color:#000;
    display:-webkit-box;
   -webkit-line-clamp:2;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    min-height:45px;
}
span.price-feathered{
    font-size:16px;
    color:red;
}
